.dark {
    background-color: var(--dark-green);

}

.dark .on-dark-text-gray {
    color: var(--dark-text-gray);
}

.dark .on-dark-text-white {
    color: #fff !important;
}

.dark .food {
    background-color: var(--color-dark-green);
}

.dark header {
    background-color: var(--color-dark-green);

}

.dark .side-bar {
    background-color: var(--color-dark-green);

}

.dark .dark-text-gray-icon {
    color: var(--dark-text-gray);
}
