.dark {
    background-color: var(--dark-green);

}

.dark .on-dark-text-gray {
    color: var(--dark-text-gray);
}

.dark .on-dark-text-white {
    color: #fff !important;
}
.dark .food{
    background-color: var(--color-dark-green);
}