@media (max-width:767.98px) {
    nav ul {
        display: none;
    }

    #img-width {
        width: 80%;
    }

    .w-md-80 {
        width: 80%;
    }

    .make-center-80 {
        margin: 0 auto;
    }
    .movil-app{
        margin-top: 20px;
    }
}

@media (min-width:991.98px) {
    #img-width {
        width: 75%;
    }

    .nav-container {
        width: 50%;
    }

    .section-desc {
        width: 75%;
    }
}

@media (max-width:991.98px) {
    .section-desc {
        width: 100%;
    }

    .food:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


@media (min-width:767.98px) and (max-width:991.98px) {
    #img-width {
        width: 100%;
    }

    .home h1 {
        white-space: nowrap;
    }

    .food {
        width: 70%;
        margin: 0 auto;
    }

}
@media (min-width:991.98px) and (max-width:1199.98px){
    .food{
        width:220px;
    }
}

@media (max-width:500px) {
    .movil-app img{
        width: 250px;
    }
}