/* defaults */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

:root {
    --color-gray1: #707070;
    --color-green1: #069c54;
    --color-green2: #048654;
    --dark-green: #1D2521;
    --dark-text-gray: #C7D1CC;
    --color-main-dark: #393939;
    --color-dark-green: #27302C;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

body {
    background-color: #fff;
}


/* header */
header {
    padding: 30px 0px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    width: 65%;
    justify-content: end;
    padding: 10px;
    align-items: center;
}

.icons {
    cursor: pointer;
    align-items: baseline;
    color: var(--color-gray1);
}

.dark-mode-toggler {
    margin: 0px 20px;
}

.text-gray1 {
    color: var(--color-gray1);
}

.hover-green1:hover {
    color: var(--color-green1);
}

.has-transition {
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}


.logo {
    display: flex;
    align-items: center;
}

/* home section */

.text-green {
    color: var(--color-green1);
}

.font-lg {
    font-size: 4rem;
}

.font-md {
    font-size: 2.5rem;
}

.text-main-dark {
    color: var(--color-main-dark)
}

.green-btn {
    background-color: var(--color-green1);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

.green-btn:hover {
    color: #fff;
}

.on-hover-bg-green:hover {
    background-color: var(--color-green2);
}

/* about section */

#img-width {
    border-radius: 5px;
}

.sub-title {
    color: var(--color-green1);
    font-size: 15px;
    margin: 0 !important;

}

.section-desc {
    color: var(--color-gray1);
    font-weight: 500;
    font-size: 15px;
}

/** services section */


.svg-container {
    fill: var(--color-green1);
    display: flex;
    width: 64px;
    height: 64px;
}

.font-sm {
    font-size: 1.5rem;
}

.service {
    align-items: center;
    text-align: center;
}

/* menu section */


.make-center {
    margin: 0 auto;
}

.font-xs {
    font-size: 1rem;
}

.no-wrap {
    white-space: nowrap;
}

.food {
    box-shadow: 0 2px 4px #034a2826;
    border-radius: 5px;
    min-width: 200px;
}

.food-desc {
    margin-top: 30px;
}

.w-80 {
    width: 80%;
}

.food-img {
    margin-top: 20px;
}

.buy {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-green1);
    color: #fff;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.buy:hover {
    color: #fff;
    background-color: var(--color-green2);
}


/** app section */

.links img {
    width: 120px;
}

.links img:nth-child(1) {
    margin-right: 20px;
}

.movil-app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movil-app img {
    width: 400px;
}

/** contact section*/

/** footer */
footer {
    margin-top: 10vh;
}

.media {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.media i {
    font-size: 1.5rem;
}

.max-width {
    width: max-content;
}

.mt-10vh {
    margin-top: 10vh;
}



/** header animation */
.header-down {
    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: #fff;
    transition: all 0.3s ease;
    align-items: center;
    animation: header-down 0.3s ease forwards;
    box-shadow: 0 2px 4px #0000001a;
}


@keyframes header-down {
    100% {
        transform: translateY(24px);
    }
}

.header-up {
    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    align-items: center;
    animation: header-up 0.3s ease forwards;
    box-shadow: 0 2px 4px #0000001a;
}

@keyframes header-up {
    100% {
        transform: translateY(-100%);
    }
}


/** sidebar */
.side-bar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    min-width: 200px;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.side-bar-active {
    right: 0;
}

.side-bar ul {
    height: 40%;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000096;
    z-index: 998;
    opacity: 0;
    display: none;
}


.overlay-active {
    opacity: 1;
    display: block;
}



.close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

.active a {
    color: var(--color-green1) !important;
}