/* defaults */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

:root {
    --color-gray1: #707070;
    --color-green1: #069c54;
    --color-green2: #048654;
    --dark-green: #1D2521;
    --dark-text-gray: #C7D1CC;
    --color-main-dark: #393939;
    --color-dark-green:#27302C;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #fff;
}


/* header */
header {
    padding: 30px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-container {
    width: 65%;
    display: flex;
    justify-content: end;
}

.dark-mode-toggler {
    cursor: pointer;
    margin-left: 30px;
    align-items: baseline;
}

.text-gray1 {
    color: var(--color-gray1);
}

.hover-green1:hover {
    color: var(--color-green1);
}

.has-transition {
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

.bi-moon {
    color: var(--color-gray1);

}

.bi-sun {
    color: var(--dark-text-gray);
}

/* home section */

.text-green {
    color: var(--color-green1);
}

.font-lg {
    font-size: 4rem;
}

.font-md {
    font-size: 2.5rem;
}

.text-main-dark {
    color: var(--color-main-dark)
}

.green-btn {
    background-color: var(--color-green1);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

.green-btn:hover {
    color: #fff;
}

.on-hover-bg-green:hover {
    background-color: var(--color-green2);
}

/* about section */
.about {
    margin-top: 20vh;
}


#img-width {
    border-radius: 5px;
}

.sub-title {
    color: var(--color-green1);
    font-size: 15px;
    margin: 0 !important;

}

.section-desc {
    color: var(--color-gray1);
    font-weight: 500;
    font-size: 15px;
}

/* services section */
.services {
    margin-top: 20vh;
}

.svg-container {
    fill: var(--color-green1);
    display: flex;
    width: 64px;
    height: 64px;
}

.font-sm {
    font-size: 1.5rem;
}

.service {
    align-items: center;
    text-align: center;
}

/* menu section */
.menu {
    margin-top: 20vh;

}

.make-center {
    margin: 0 auto;
}

.font-xs {
    font-size: 1rem;
}

.no-wrap {
    white-space: nowrap;
}
.food{
    box-shadow: 0 2px 4px #034a2826;
    border-radius: 5px;
    min-width: 200px;
}

.food-desc{
    margin-top: 30px;
}
.w-80{
    width: 80%;
}
.food-img{
    margin-top: 20px;
}
.buy{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-green1);
    color: #fff;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.buy:hover{
    color: #fff;
    background-color: var(--color-green2);
}


/** app section */
.app {

    margin-top: 20vh;
}
.links img{
    width: 120px;
}
.links img:nth-child(1){
    margin-right: 20px;
}
.movil-app{
    display: flex;
    align-items: center;
    justify-content: center;
}
.movil-app img{
    width: 400px;
}
